body, html {
    height: 100%;
}

span{
	cursor: pointer;
}

span:hover{
	background: #E4DEDE;
	padding: 4px;
	position: absolute;
}

.panel-body img{
	margin-left: 10%;
	width: 80%;
}

.panel-body img:hover{
	cursor: pointer;
}

.centrado{
	margin-left:50%;
}

.separar{
	margin: 10px 0px;

}

.fondoNegro{
	background-color:#222;
	border-color: #080808;
}

.inputNegro{
	background: #322F2F;
    color: white;
}

footer{

	background-color: #222;
    border-color: #080808;
    color:white;
    border-radius: 4px;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    text-align:center;
    margin:20px 0px 0px 0px;
    vertical-align: middle;
    line-height: 50px;

}
